<h1>Welcome to PokePet <%= current_user.user_name %></h1>

<%= render partial: "inventory" %>

<h3>Your Adoptions</h3>

<div class="row">
    <% current_user.adoptions.each do |adopt| %>
        <div class="card col-lg-3 m-1">
            <%= image_tag adopt.poke_pet.image, class:"card-img-top my-2" %>
            <h4 class="card-title text-center my-2">
                <%= adopt.nickname %> - Lvl: <%= adopt.level %>
            </h4>
            <div class="card-body d-flex">
                <%= button_to "Visit", user_adoption_path(current_user, adopt), method: :get, class:"btn" %> 
                <%= button_to "Release", adoption_path(adopt), method: :delete, class:"btn" %>
            </div>
        </div>
    <% end %>
</div>