<h1 class="text-center my-2 p-2">Welcome to PokePet! </h1>

<div class="container text-center my-3 py-3">
    <h6 class="float-left ml-3">User: <%= current_user.user_name %></h6>
    <%= render partial: "inventory" %>
</div>

<h2 class="text-center">Your Adoptions</h2>

<div class="row">
    <% current_user.adoptions.each do |adopt| %>
        <div class="card col-lg-3 mx-4 my-2 p-2">
            <%= image_tag adopt.poke_pet.image, class:"card-img-top" %>
            <h4 class="card-title text-center my-2">
                <%= adopt.nickname %> - Lvl: <%= adopt.level %>
            </h4>
            <div class="card-body d-flex">
                <%= button_to "Visit", user_adoption_path(current_user, adopt), method: :get, class:"btn px-4 mx-2" %> 
                <%= button_to "Release", adoption_path(adopt), method: :delete, class:"btn px-4 mx-2" %>
            </div>
        </div>
    <% end %>
</div>