<h1>Welcome to PokePet <%= @user.user_name %></h1>
<%= render partial: "inventory" %>
<h3>Your Adoptions</h3>
<% @user.adoptions.each do |adopt| %>
    <div>
    <%= image_tag(adopt.poke_pet.image) %><br>
    <%= adopt.nickname %><br>
    <%= link_to "Visit", user_adoption_path(current_user, adopt) %> | 
    <%= link_to "Release", adoption_path(adopt), method: :delete %>
    </div>
<% end %>