<h1 class="text-center">Visiting <%= @adoption.nickname %></h1>
<div class="row text-center">
    <div class="card col-lg-6 mx-4 my-2 p-2">
        <%= image_tag @adoption.poke_pet.image, class:"card-img-top p-5" %>
            <div class="card-body">
                <h4 class="card-title">
                    <%= @adoption.nickname %> - <%= @adoption.poke_pet.element %> Type - Lvl: <%= @adoption.level %>
                </h4>
                <h6 class="card-subtitle">
                    Species: <%= @adoption.poke_pet.name %>
                </h6>
                <div class="card-text p-2 m-2">
                    <h5>Hunger: <%= @adoption.hunger %></h5>
                    <h5>Thirst: <%= @adoption.thirst %></h5>
                    <h5>Happiness: <%= @adoption.happiness %></h5>
                </div>

                <% if @adoption.level == "MAX" %>
                    <div class="card-footer text-muted">
                        <p class="m-0">This PokePet has reached MAX level, great work!<br>
                        They would love for you to come visit them in the Grove!</p>
                    </div>
                <% else %>
                    <div class="btn-group m-2">
                        <%= form_for @adoption do |f| %>
                        <%= f.hidden_field :adopt_action, :value => "feed" %>
                        <%= f.submit "Give Treat", class:"btn mx-2 p1" %>
                    <% end %>

                    <%= form_for @adoption do |f| %>
                        <%= f.hidden_field :adopt_action, :value => "water" %>
                        <%= f.submit "Give Water", class:"btn mx-2 p1" %>
                    <% end %>

                    <%= form_for @adoption do |f| %>
                        <%= f.hidden_field :adopt_action, :value => "play" %>
                        <%= f.submit "Play with Toy", class:"btn mx-2 p1" %>
                    <% end %>

                    <%= form_for @adoption do |f| %>
                        <%= f.hidden_field :adopt_action, :value => "doll" %>
                        <%= f.submit "Give PokeDoll", class:"btn mx-2 p1" %>
                    <% end %>
                    </div>   
            <% end %>
        </div>
    </div>

<%= render partial: "users/inventory" %>

</div>