<h1>Adoption Show</h1>

<%= render partial: "users/inventory" %>

<%= image_tag(@adoption.poke_pet.image) %>
<p>
    <%= @adoption.nickname %> | <%= @adoption.poke_pet.element %> Type | Lvl: <%= @adoption.level %><br>
    Species: <%= @adoption.poke_pet.name %><br>
    Hunger: <%= @adoption.hunger %><br>
    Thirst: <%= @adoption.thirst %><br>
    Happiness: <%= @adoption.happiness %><br>
    Exp: <%= @adoption.level %>
</p>

<%= form_for @adoption do |f| %>
    <%= f.hidden_field :adopt_action, :value => "feed" %>
    <%= f.submit "Feed" %>
<% end %>

<%= form_for @adoption do |f| %>
    <%= f.hidden_field :adopt_action, :value => "water" %>
    <%= f.submit "Water" %>
<% end %>

<%= form_for @adoption do |f| %>
    <%= f.hidden_field :adopt_action, :value => "play" %>
    <%= f.submit "Play" %>
<% end %>