<h1>Oak's Grove</h1>

<%= image_tag("https://cdn.bulbagarden.net/upload/8/8f/Ash_Pokemon_with_Oak.png") %>

<p>
    Welcome to Oak's Grove! This is the place PokePets go to live once they have reached MAX level. Here you can view and visit with all of the PokePets you have raised to MAX. 
</p>

<% @adoptions.each do |adopt| %>
    <%= image_tag(adopt.poke_pet.image) %><br>
    <%= adopt.nickname %> | <%= adopt.poke_pet.element %> Type | Lvl: <%= adopt.level %><br>
    Species: <%= adopt.poke_pet.name %><br>
    Happiness: <%= adopt.happiness %><br>
<% end %>