<h1>Poke Town</h1>
<p>
    <%= image_tag("https://www.nintendoenthusiast.com/wp-content/uploads/2019/10/ukart-800x400.jpg") %>
</p>
<%= link_to "Bank", bank_path %> | 
<%= link_to "Shop", shop_path %> | 
<%= link_to "Training", training_path %> | 
<%= link_to "Oak's Grove", grove_path %>