<div class="text-center">
    <%= image_tag "https://cdn.holdtoreset.com/wp-content/uploads/2019/11/14233027/Where-Are-Poke-Marts-750x422.jpg", class:"img-responsive m-2" %>

    <h1 class="m-2 p-3">PokeMart</h1>
    <p class="m-2 p-3">
        Welcome to the PokeMart! Here you can buy items to replenish your inventory and better care for your PokePet!   
    </p>
    <div class="row">
    <div class="col-lg-4">
    <%= render partial: "users/inventory" %>
    </div>
    <div class="col-lg-8">
    <table class="table table-bordered my-4">
        <thead class="thead-light">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>PokeTreat</td>
            <td>Reduces hunger by 1 point</td>
            <td>100</td>
            <td>
                <%= form_tag shop_path do %>
                    <%= hidden_field_tag 'shop_action', 'treat' %>
                    <%= submit_tag "Buy", class:"btn px-3" %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>PokeToy</td>
            <td>Increases happiness by 1 but also increases hunger and thirst</td>
            <td>200</td>
            <td>
                <%= form_tag shop_path do %>
                    <%= hidden_field_tag 'shop_action', 'toy' %>
                    <%= submit_tag "Buy", class:"btn px-3" %>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>PokeDoll</td>
            <td>Increases happiness by 10, resulting in a level up</td>
            <td>500</td>
            <td>
                <%= form_tag shop_path do %>
                    <%= hidden_field_tag 'shop_action', 'doll' %>
                    <%= submit_tag "Buy", class:"btn px-3" %>
                <% end %>
            </td>
        </tr>
    </table>
    </div>
    </div>
</div>