<!DOCTYPE html>
<html>
  <head>
    <title>Pokepet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !!current_user %>
      <nav>
        <%= link_to "Home", user_path(current_user) %> | 
        <%= link_to "Shelter", poke_pets_path %> | 
        <%= link_to "Town", towns_path %> | 
        <%= link_to "Log Out", logout_path %> 
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
